body {
  font-family: helvetica;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/backgroundcoffee.jpeg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
  filter: blur(20px);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 20px 5%;*/
  color: #260D0B;
  position: relative;
  z-index: 10;
}

.links a {
  margin-left: 25px;
  text-decoration: none;
  font-weight: 500;
  color: #260D0B;
}

.links a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #260D0B;
  text-underline-offset: 10px;
}

#coffee-shop{
  border: solid 5px #260D0B;
  border-radius: 30px;
  padding: 8px 20px;
  font-size: 14px;
  background-color: #260D0B;
  color: #fff;
  cursor: pointer;
}

#logo-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  font-size: 14px;
}

#slogan {
  font-size: 12px;
  font-weight: 100;
}

#logo-image {
  width: 40px;
  height: 25px;
  object-fit: contain;
  margin-left: -4px;
  margin-top: -6px;
  filter: invert(8%) sepia(50%) saturate(600%) hue-rotate(337deg) brightness(99%) contrast(99%);
}

.intro-content {
  display: flex;
  margin-top: 150px;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}


#left-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#left-content h1 {
  margin: 0;
  padding: 0;
  font-size: 55px;
  line-height: 1.2;

}

#two-heart-coffee-image {
  width: 180px;
  max-width: 30%;
  display: flex;
  justify-content: flex-end;
  margin-top: -150px;
}

#two-heart-coffee-image img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  margin-top: 80px;
}

#view-menu-main button{
  margin-top: 30px;
  border: solid 5px #260D0B;
  border-radius: 45px;
  padding: 14px 70px;
  font-size: 14px;
  background-color: #260D0B;
  color: #fff;
  cursor: pointer;
  box-shadow: 15px 10px 15px 6px rgba(38, 13, 11, 0.3);
}


#mini-icons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

#single-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 1px none;
  border-radius: 20px;
}

#single-icon img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  filter: invert(8%) sepia(50%) saturate(600%) hue-rotate(337deg) brightness(99%) contrast(99%);
}

.learn-more-content {
  display: flex;
  gap: 25px;
  margin-top: 50px;
}

#two-icons-bottom {
  display: flex;
  width: 20px;
  height: 20px;
  gap: 5px;
  margin-left: 10px;
  margin-bottom: 25px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#two-icons-bottom img {
  display: flex;
  width: 20px;
  height: 20px;
  gap: 15px;
  cursor: pointer;
}

#americano-container {
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 1px transparent;
  border-radius: 50px;
  padding: 20px;
  margin-top: 100px;
  position: relative;
  width: 500px;
  height: 250px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#americano {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}

#americano-container h3 {
  margin-top: 80px;
  margin-bottom: 3px;
  color: #260D0B;
}

#americano-container p {
  margin-top: 8px;
  margin-bottom: 3px;
  color: #260D0B;
  font-size: 12px;
}

.shopping-cart {
  background-color: rgba(225, 212, 212, 0.7);
  border: solid 1px transparent;
  border-radius: 10px;
  padding: 6px;
  width: 24px;
  height: 24px;
  object-fit: contain;
  cursor: pointer;
}

.like {
  background-color: rgba(225, 212, 212, 0.7);
  border: solid 1px transparent;
  border-radius: 10px;
  padding: 6px;
  width: 24px;
  height: 24px;
  margin: 20px;
  object-fit: contain;
  cursor: pointer;
}

#price {
  position: absolute;
  bottom: -5px;
  left: 50px;
}

#price button {
  border: solid 5px #260D0B;
  border-radius: 15px;
  padding: 5px 30px;
  font-size: 14px;
  background-color: #260D0B;
  color: #fff;
  cursor: pointer;
  position: absolute;
  bottom: -20px;
  left: 40px;
}

#cappuccino-container {
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 1px transparent;
  border-radius: 50px;
  padding: 20px;
  margin-top: 100px;
  position: relative;
  width: 500px;
  height: 250px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#cappuccino {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
}

#cappuccino-container h3 {
  margin-top: 80px;
  margin-bottom: 3px;
  color: #260D0B;
}

#cappuccino-container p {
  margin-top: 8px;
  margin-bottom: 3px;
  color: #260D0B;
  font-size: 12px;
}

#learn-more-info {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  margin-left: 40px;
}

#learn-more-info h2 {}

#learn-more-info p {
  font-size: 16px;
}

#learn-more button {
  margin-top: 30px;
  border: none 1px #260D0B;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 14px;
  background-color: #260D0B;
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(to right, #260D0B, #8C5620);
  font-weight: bold;
}

.more-info {
  display: flex;
  flex-direction: column;
  padding-top: 160px;
  margin-left: 40px;
}

#coffee-spilled-beans img {
  width: 500px;
  height: 460px;
  max-width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: -220px;
  margin-left: 600px;
  position: relative;
}

#coffee-spilled-beans h3 {
  background-color: rgba(255, 255, 255, 0.9);
  border: solid 1px transparent;
  border-radius: 20px;
  font-size: 12px;
  padding: 18px;
  width: 30px;
  height: 30px;
  margin: 22px;
  object-fit: cover;
  align-content: center;
  position: absolute;
  right: 195px;
  bottom: -680px;
}

.app-demo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  box-sizing: border-box;
}

#menu-container {
  padding: 24px;
  border: solid 1px transparent;
  background-color: rgba(255, 255, 255, 0.5);
  width: 340px;
  height: 700px;
  border-radius: 30px;
  box-sizing: border-box;
  overflow: visible;
}


#menu-container img {
  width: 20px;
}


#view-menu-button {
  border: solid 5px #260D0B;
  border-radius: 30px;
  padding: 5px 30px;
  font-size: 14px;
  background-color: #260D0B;
  color: #fff;
  cursor: pointer;
  height: 45px;
  width: 180px;

}

#view-menu-button-small {
  border: solid 5px #260D0B;
  border-radius: 30px;
  padding: 5px 30px;
  font-size: 14px;
  background-color: #260D0B;
  color: #fff;
  cursor: pointer;
  height: 40px;
  width: 160px;

}

#big-menu-container {
  padding: 24px;
  border: solid 1px transparent;
  background-color: rgba(255, 255, 255, 0.5);
  width: 340px;
  height: 700px;
  border-radius: 30px;
  box-sizing: border-box;
  overflow: visible;
}

#back-arrow {
  width: 20px;
}

#mini-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 1px none;
  border-radius: 15px;
}

#mini-icons {
  gap: 40px;
}

#buttons-container {
  background-color: #260D0B;
  border-radius: 30px;
  height: 45px;
  margin-top: 8px;
  display: flex;
  gap: 60px;
  padding: 4px;
  padding-left: 30px;
}

#buttons-container a:hover {
  cursor: pointer;
  background-color:silver;
  border-style: groove;
  border-color: #fff;
  border-radius: 8px;
}

#buttons-container img {
  filter: invert(99%) sepia(0%) saturate(1314%) hue-rotate(334deg) brightness(109%) contrast(100%);
  height: 20px;
  align-content: center;
  margin: -3px;
  padding-top: 8px;
}

.single-bottom-icon {
  gap: 5px;
}

.learn-more-content-2 {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-top: -42px;

}

#americano-container-2 {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 1px transparent;
  border-radius: 30px;
  padding: 5px;
  margin-top: 100px;
  position: relative;
  width: 300px;
  height: 180px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#americano-container-2 h3 {
  font-size: 18px;
  padding-top: 20px;
}

#americano-container-2 p {
  font-size: 10px;
  margin-top: -8px;
}

#cappuccino-container-2 {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 1px transparent;
  border-radius: 30px;
  padding: 5px;
  margin-top: 100px;
  position: relative;
  width: 300px;
  height: 180px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#cappuccino-container-2 h3 {
  font-size: 18px;
  padding-top: 20px;
}

#cappuccino-container-2 p {
  font-size: 10px;
  margin-top: -8px;
}

#americano2 {
  height: 90px;
  width: 90px;
  min-width: 90px;
  position: absolute;
  object-fit: cover;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
}

#cappuccino-2 {
  height: 90px;
  width: 90px;
  min-width: 90px;
  position: absolute;
  object-fit: cover;
  top: -45px;
  left: 50%;
  transform: translateX(-50%);
}

.shopping-cart-2 {
  background-color: rgba(225, 212, 212, 0.7);
  border: solid 1px transparent;
  border-radius: 10px;
  padding: 6px;
  width: 12px;
  height: 12px;
  object-fit: contain;
  cursor: pointer;
}

.like-2 {
  background-color: rgba(225, 212, 212, 0.7);
  border: solid 1px transparent;
  border-radius: 10px;
  padding: 6px;
  width: 12px;
  height: 12px;
  object-fit: contain;
  cursor: pointer;
}

.two-icons-bottom-2 {
  display: flex;
  width: 20px;
  height: 20px;
  gap: 5px;
  margin-top: auto;
  margin-bottom: 25px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.two-icons-bottom-2 img {
  display: flex;
  width: 10px;
  height: 10px;
  gap: 15px;
  cursor: pointer;
}

.shopping-cart-3 {
  background-color: rgba(225, 212, 212, 0.7);
  border: solid 1px transparent;
  border-radius: 10px;
  padding: 6px;
  width: 12px;
  height: 12px;
  object-fit: contain;
  cursor: pointer;
}

.like-3 {
  background-color: rgba(225, 212, 212, 0.7);
  border: solid 1px transparent;
  border-radius: 10px;
  padding: 6px;
  width: 12px;
  height: 12px;
  object-fit: contain;
  cursor: pointer;
}

.two-icons-bottom-3 {
  display: flex;
  width: 20px;
  height: 20px;
  gap: 5px;
  margin-top: auto;
  margin-bottom: 25px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}

.two-icons-bottom-3 img {
  display: flex;
  width: 10px;
  height: 10px;
  gap: -15px;
  cursor: pointer;
}

.price-2 {
  position: absolute;
  bottom: -5px;
  left: 5px;
}

.price-2 button {
  border: solid 5px #260D0B;
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 8px;
  background-color: #260D0B;
  color: #fff;
  cursor: pointer;
  position: absolute;
  bottom: -15px;
  left: 30px;
}

.more-info-2 {
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 1px transparent;
  border-radius: 20px;
  padding: 5px;
  margin-top: 40px;
  position: relative;
  width: 200px;
  height: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.more-info-2 p {
  font-size: 10px;
  margin-top: -8px;
  margin-left: 2px;
}

.more-info-2 h3 {
  font-size: 14px;
  padding-top: 2px;
  margin-left: 2px;
}

#coffee-spilled-beans-2 img {
  width: 170px;
  height: 170px;
  max-width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  margin-top: -150px;
  margin-left: 220px;
  position: relative;
  padding-top: 20px;
}

#big-menu-container p {
  margin-top: -8px;
}

#big-menu-text{
  margin-top: -70px;
  font-size: small;
}

#big-menu-text-2{
  padding-top: 8px;
  font-size: 14px;
}

#coffee-one-heart {
  margin-top: -22px;
  width: 500px;
  height: 500px;
  margin-left: -110px;
}

#total-price {
  display: flex;
  flex-direction: row;
  margin-top: -18px;
  margin-left: -10px;
}

#total-price p {
  display: flex;
  background-color: rgba(225, 212, 212, 0.7);
  border: solid 1px transparent;
  border-radius: 18px;
  padding: 10px;
  width: 80px;
  height: 18px;
  margin: 20px;
  object-fit: contain;
  cursor: pointer;

}

#total-price button {
  display: flex;
  background-color: rgba(225, 212, 212, 0.7);
  border: solid 1px transparent;
  border-radius: 10px;
  padding: 6px;
  width: 12px;
  height: 12px;
  margin: 20px;
  object-fit: contain;
  cursor: pointer;
}

#add-to-cart-section button {
  background-color: #260D0B;
  border-radius: 30px;
  height: 38px;
  width: 155px;
  color: #fff;
  align-items: center;
  padding-left: 25px;
  margin-left: 20px;
  position: relative;
  margin-top: 15px;
}

.like-3 {
  background-color: rgba(225, 212, 212, 0.7);
  border: solid 1px transparent;
  border-radius: 10px;
  padding: 6px;
  width: 12px;
  height: 12px;
  object-fit: contain;
  cursor: pointer;
}

.add-icon {
  background-color: rgba(73, 47, 41, 0.2);
  border: solid 1px transparent;
  border-radius: 50px;
  padding: 6px;
  width: 12px;
  height: 12px;
  margin: 20px;
  object-fit: contain;
  cursor: pointer;
  position: absolute;
  right: 460px;
  bottom: -1708px;
  filter: brightness(0) invert(1);
}

.apple-icon,
.google-icon {
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 1px transparent;
  border-radius: 20px;
  padding: 10px;
  width: 40px;
  height: 35px;
  object-fit: contain;
  cursor: pointer;
}

#app-availability {
  padding-top: 150px;
  position: relative;
  padding-left: 5px;
}

#app-download{
  display: flex;
  flex-direction: row;
  margin-left: -5px;
  gap: 15px;
}

.reservations{
  margin-top: 100px;
}

.reservations h3 {
  color: #fff;
  margin-bottom: -15px;
  font-size: 14px;
}

#reservations-2 {
  display: flex;
  flex-direction: row;
  gap: 600px;
}

#reservations-2 button {
  border: solid 5px #260D0B;
  border-radius: 30px;
  padding: 5px 30px;
  font-size: 14px;
  font-weight: bold;
  background-color: #260D0B;
  color: #fff;
  cursor: pointer;
  height: 45px;
  width: 180px;
  box-shadow: 15px 10px 15px 6px rgba(38, 13, 11, 0.3);
}

.footer-content {
  position: relative;
  margin-top: 80px;
}

#spilled-beans {
  position: absolute;
  width: 200px;
  bottom: -150px;
  left: -150px;
}

.footer{
  display: flex;
  flex-direction: row;
  gap: 90px;
  margin-left: 40px;
}

#logo-text-2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  font-size: 14px;
  color: #fff;
}

#slogan-2 {
  font-size: 12px;
  font-weight: 100;
  margin-top: -30px;
  color: #fff;
}

#logo-image-2 {
  width: 40px;
  height: 25px;
  object-fit: contain;
  margin-left: -4px;
  margin-top: -6px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(166deg) brightness(104%) contrast(102%);
}

#horizontal-divider{
  color: #fff;
  margin-bottom: 40px;
  margin-top: 20px;
}

@media screen and (max-width: 768px){
  .navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}